.box {
    width: 325px;
    height: 540px;
    background-color: white;
    overflow: hidden;
    box-sizing: border-box;
    margin: auto;
    border-radius: 5%;
    padding: 15px;
    text-align: center;
    
}
.box img{
    width: 100%;
    border-radius: 5%;
}
body{
    background-color:hsl(212, 45%, 89%)
}
h2{
    font-family: outfit;
    color: hsl(218, 44%, 22%);
}
p{
    font-family: outfit;
    color: hsl(216, 15%, 48%);
}